<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="app.css">
    <title>To Do List</title>
  </head>
  <body>
    <div class="container">
      <h1>To Do List</h1>
      <div>
        <%user[0].tasks.forEach(task=>{%>
        <div class="col-md-12 task">
          <%=task.task %>
          <form action="/remove" method="post">
            <input type="hidden" name="userId" value="<%=user[0].id%>">
            <input type="hidden" name="taskId" value="<%=task.id%>">
            <input type="submit" value="Remove">
          </form>
        </div>
        <%})%>
        <br>
        <form action="/add" method="post">
          <input type="text" name="task" placeholder="Enter your task">
          <input type="hidden" name="id" value="<%=user[0].id%>">
          <input type="submit" value="Add to List">
        </form>
      </div>
      <br>
      <a href="/" class="btn btn-primary">Another To Do List</a>
    </div>
  </body>
</html>
